@keyframes scene-1-eyes {
    0% {
        transform: rotate(0) translate(0, 0);
    }

    5% {
        transform: rotate(-10deg) translate(4%, 2%);
    }

    20% {
        transform: rotate(-10deg) translate(4%, 2%);
    }

    25% {
        transform: rotate(-10deg) translate(1.5%, 2%);
    }

    40% {
        transform: rotate(-10deg) translate(1.5%, 2%);
    }

    45% {
        transform: rotate(0) translate(0, 6%);
    }

    60% {
        transform: rotate(0) translate(0, 6%);
    }

    65% {
        transform: rotate(0) translate(0, 0);
    }

    100% {
        transform: rotate(0) translate(0, 0);
    }
}
.visible.scene__container--1 #billy__eyes {
    transform-origin: center;
    animation: scene-1-eyes 10s ease-in-out infinite;
}

@keyframes scene-2-walk {
    0% {
        transform: translate(0, 0);
    }

    2% {
        transform: translate(-8%, 1%);
    }

    4% {
        transform: translate(-16%, 0);
    }

    6% {
        transform: translate(-24%, 1%);
    }

    8% {
        transform: translate(-32%, 0);
    }

    10% {
        transform: translate(-40%, 0);
    }

    50% {
        transform: translateX(-40%);
    }

    52% {
        transform: translate(-32%, 0);
    }

    54% {
        transform: translate(-24%, 1%);
    }

    56% {
        transform: translate(-16%, 0);
    }

    58% {
        transform: translate(-8%, 1%);
    }

    60% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}
.visible #person--1, .visible #person-2 {
    animation: scene-2-walk 45s linear infinite;
}
#person--2 {
    animation-delay: 1.5s;
}

@keyframes scene-3-eyes {
    from {
        transform: translateX(0);
    }
    33% {
        transform: translateX(2%);
    }
    66% {
        transform: translateX(-2%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes box-anim {
    from {
        transform: rotate(0) translate(0);
    }
    30% {
        transform: rotate(-25deg) translate(-32%, -5%);
    }
    70% {
        transform: rotate(-25deg) translate(-32%, -5%);
    }
    to {
        transform: rotate(0) translate(0);
    }
}
@keyframes shoe-anim {
    0% {
        transform: translate(-24%, 3%);
    }
    30% {
        transform: translate(-24%, -11%);
    }
    60% {
        transform: translate(-10%, -11%);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes billy-shoes {
    0% {
        transform: translate(0);
    }
    40% {
        transform: translate(-10%, -11%);
    }
    70% {
        transform: translate(-24%, -11%);
    }
    100% {
        transform: translate(-24%, 3%);
    }
}
.visible.scene__container--3 {
    .billy__eyes {
        animation: scene-3-eyes 3s ease-in-out;
    }    
    .shoebox > path:nth-of-type(2) {
        animation: box-anim 8s linear 3s forwards;
    }
    .shoebox > ellipse {
        animation: shoe-anim 2s linear 5s forwards;
    }
    .billy__legs > ellipse {
        animation: billy-shoes 2s linear 7.2s forwards;
    }
}

@keyframes guard-hand {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-40%);
    }
}
@keyframes scene-4-walk {
    0% {
        transform: translateY(0) scale(1);
    }

    10% {
        transform: translateY(5%) scale(99%);
    }

    20% {
        transform: translateY(0) scale(98%);
    }

    30% {
        transform: translateY(4%) scale(97%);
    }

    40% {
        transform: translateY(0) scale(96%);
    }

    50% {
        transform: translateY(3%) scale(95%);
    }

    60% {
        transform: translateY(0) scale(94%);
    }

    70% {
        transform: translateY(2%) scale(93%);
    }

    80% {
        transform: translateY(0) scale(92%);
    }

    90% {
        transform: translateY(1%) scale(91%);
    }

    100% {
        transform: translateY(0) scale(90%);
    }
}
@keyframes alarm-lights {
    0% {
        background-color: red;
    }

    100% {
        background-color: white;
    }
}
.visible.scene__container--4 {
    .billy {
        animation: scene-4-walk 4.5s linear forwards;
    }
    .alarm {
        animation: alarm-lights .5s linear 4s infinite;
    }
    .guard {
        animation: guard-hand .5s ease-out 4s forwards;
    }
}

@keyframes blur-animation {
    from {
        filter: blur(0);
    }
    to {
        filter: blur(10px);
    }
}
.visible.scene__container--5 .person__container {
    animation: blur-animation 5s linear forwards;
}

@keyframes text-box-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.scene__container--2 .text-box {
    top: -415%;
    z-index: 10;
}
.scene__container--3 .text-box {
    top: -95%;
}
.scene__container--4 .text-box {
    top: -115%;
}
.visible .text-box {
    animation: text-box-anim 2s linear 10s forwards;
}
.visible.scene__container--2 .text-box {
    animation-delay: 5s;
}
.visible.scene__container--3 .text-box {
    animation-delay: 13s;
}
.visible.scene__container--4 .text-box {
    animation-delay: 7s;
}
.visible.scene__container--5 .text-box {
    animation-delay: 8s;
}

@media (prefers-reduced-motion) {
    .alarm {
        animation-duration: 1s;
    }
}