// Old, remove when all scenes have content
$backgroundEven: #306daa;

$lightBeige: #f6967e;
$darkBeige: #dd8771;
$lightRed: #f5505d;
$darkRed: #ee1b2e;
$yellow: #d8cc44;
$black: #000;
$white: #fff;
$gray: #999;
$lightBlue: #72b1ef;
$darkBlue: #5858ff;
$brown: #ae5e2f;

body>div:nth-of-type(odd) {
    background-color: $lightBlue;
}

body>div:nth-of-type(even) {
    background-color: $backgroundEven;
}

.window__container {
    background-color: $black;

    .window__pane {
        background-color: $darkBlue;
    }
}

.scene__container--1,
.scene__container--5 {
    svg {
        background-image: linear-gradient($lightBlue 40%, $lightBeige 40%);
    }

    .cls-1,
    .cls-3 {
        stroke: $black;
    }

    .cls-3 {
        fill: $white;
    }

    #billy-shoe,
    #billy-shoe-2 {
        fill: $white;
    }

    .person__legs>* {
        background-color: $gray;
    }

    .person__shoes>* {
        background-color: $lightBlue;
    }

    #table {
        fill: $brown;
    }
}

.scene__container--2 {

    .store__wall--top,
    .store__wall--left,
    .store__wall--right {
        // Pure CSS brick pattern trick found here: https://projects.verou.me/css3patterns/#bricks
        background-color: $white;
        background-image: linear-gradient(335deg,
                $darkBeige 23px,
                transparent 23px),
            linear-gradient(155deg, $lightBeige 23px, transparent 23px),
            linear-gradient(335deg, $darkBeige 23px, transparent 23px),
            linear-gradient(155deg, $lightBeige 23px, transparent 23px);
        background-size: 58px 58px;
        background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
    }

    .store__sign {
        background-color: $darkRed;

        a {
            color: $black;
        }

        div {
            background-color: $black;
        }
    }

    .store__entrance {
        background-color: $yellow;
    }

    #billy__hair {
        stroke: $black;
    }

    .st0,
    .st1 {
        fill: $white;
        stroke: $black;
    }

    .st0 {
        fill: $gray;
    }
}

.scene__container--3 {
    svg {
        background-image: linear-gradient($yellow 50%, $gray 50%);
    }
    .cls-1,
    .cls-2,
    .scene-4__shoe {
        stroke: $black;
        fill: $white;
    }

    .scene-4__box {
        stroke: $black;
        fill: $lightBeige;
    }

    .bench {
        fill: $darkBeige;
    }

    .billy__pants,
    .billy__chest {
        fill: $white;
        stroke: $black;
    }

    .billy__hair {
        fill: none;
        stroke: $black;
    }
    .box-1 > ellipse {
        fill: pink;
    }
    
}

.scene__container--4 {
    .s4-guard__hand {
        fill: $gray;
        stroke: $black;
    }

    .s4-billy__head,
    .s4-billy__body {
        fill: $white;
    }

    .s4-billy__body,
    .s4-billy__head,
    .s4-billy__hair {
        stroke: $black;
    }

    .s4-billy__hair {
        fill: none;
    }

    .s4-alarm {
        background-color: $gray;
    }
}

.scene__container--5 {

    #billy-shoe,
    #billy-shoe-2 {
        fill: $white;
    }

    .person__shoes>* {
        background-color: $lightRed;
    }
}