$topWallHeight: 40%;
$borderWidth: 0.4vh;

* {
    padding: 0;
    margin: 0;
}

.scene__container {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; // Hides scrollbar in Firefox
}

.scene__container::-webkit-scrollbar {
    display: none; // Hides scrollbar in Chrome / Safari
}

.scene__container>div {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;

    svg {
        height: 100%;
        width: 100%;
    }

    overflow: hidden;
}


// scene 1
/*.scene__container--1 {
    display: none;
}*/

// scene 2
.scene__container--2 {
//display: none;

    .store__wall--top {
        width: 100%;
        height: $topWallHeight;
    }

    .store__wall--left,
    .store__wall--right,
    .store__entrance {
        width: 50%;
        height: 100%-$topWallHeight;

        .window__container {
            width: 50%;
            height: 50%;
            border: $borderWidth solid black;

            .window__pane {
                height: 49%;
                width: 49%;
            }
        }
    }

    .store__wall--left {
        border-right: $borderWidth solid black;
        z-index: 5;
        box-shadow: 7px 5px 5px #2e3035;
    }

    .store__wall--right {
        width: 30%;
    }

    .store__sign {
        width: 50%;
        height: 50%;
        border: $borderWidth solid black;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #2e3035;

        a:hover {
            cursor: default;
        }

        div {
            height: 1.5vh;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }

    .store__entrance {
        width: 20%;
        border-top: 3px solid black;
        border-right: 3px solid black;
    }

    #billy__hair {
        fill: none;
        stroke-width: 10;
        stroke-miterlimit: 10;
    }

    .st0,
    .st1 {
        stroke-width: 3;
        stroke-miterlimit: 10;
    }

    .st1 {
        stroke-width: 5;
    }


}

// scene 3
.scene__container--3 {
//    display: none;

    .cls-1 {
        stroke-width: 0.91px;
    }

    .cls-1,
    .cls-2,
    .scene-4__box,
    .scene-4__shoe {
        stroke-miterlimit: 10;
    }


    .cls-2 {
        stroke-width: 1.12px;
    }

    .scene-4__box {
        stroke-width: 0.79px;
    }

    .scene-4__shoe {
        stroke-width: 1.08px;
    }

    .billy__pants,
    .billy__chest {
        stroke-width: 0.87px;
        stroke-miterlimit: 10;
    }

    .billy__hair {
        stroke-width: 4.2px;
        stroke-miterlimit: 10;
    }

}

//Scene 4
.scene__container--4 {
//    display: none;

    .s4-billy {
        position: relative;
        bottom: -10%;
        left: 30%;
        width: 43%;
    }

    .s4-billy__hair {
        stroke-width: 6.8px;
    }

    .s4-billy__body,
    .s4-billy__head,
    .s4-billy__hair {
        stroke-miterlimit: 10;
    }

    .s4-billy__body {
        stroke-width: 0.73px;
    }

    .s4-guard {
        position: relative;
        width: 40%;
        left: -30%;
        bottom: -100%;
    }

    .s4-guard__hand {
        stroke-miterlimit: 10;
        stroke-width: 0.89px;
    }

    .s4-alarm-lights {
        top: 10vh;
        width: 100%;
        height: 10vw;
        position: relative;
        display: flex;
        justify-content: space-around;

        .s4-alarm {
            width: 10%;
            height: 100%;
            border-radius: 100%;
        }
    }
}

//Scene 5
.scene__container--1,
.scene__container--5 {

    //    overflow: revert;
    .cls-1,
    .cls-3 {
        stroke-miterlimit: 10;
    }

    .person__container {
        position: relative;
        top: -110%;
        left: 1%;
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .person__legs {
            height: 80%;
            width: 100%;
            display: flex;
            justify-content: center;

            * {
                height: 105%;
                width: 30%;
                border: $borderWidth / 3 solid black;
            }

            *:nth-of-type(1) {
                border-left: 2px solid black;
            }

            *:nth-of-type(2) {
                border-right: 2px solid black;
            }
        }

        .person__shoes {
            width: 100%;
            height: 20%;

            * {
                position: relative;
                border: $borderWidth / 3 solid black;
                border-radius: 50%;
                width: 60%;
                height: 100%;
            }

            *:nth-of-type(2) {
                top: -110%;
                left: 40%;
            }
        }
    }

    .person__container:nth-of-type(2) {
        top: -202%;
        left: 15%;
        z-index: 1;
    }

    .person__container:nth-of-type(3) {
        top: -305%;
        left: 65%;
        z-index: 1;
    }

    .person__container:nth-of-type(4) {
        top: -415%;
        left: 80%;
    }
}

.orientation-disclaimer {
    display: none;
}

@media (orientation: portrait) {
    .scene__container > div:not(:last-child) {
        display: none;
    }
    .orientation-disclaimer {
        display: revert;
    }
}