.cover-side__text-box { 
    p {
        font-size: 6vw;
    }

    :nth-of-type(2) {
        font-size: 7.5vw;
    }
}

a {
    text-decoration: none;
}

.scene__container--2 {
    .store__sign > p {
        font-size: 4.2vw;
    }      
}
