@keyframes scene-2-walk {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-40%);
    }

    100% {
        transform: translateX(0);
    }
}

#person-1, #person-2 {
    animation: scene-2-walk 10s ease-in-out infinite;
}
/*#person-2 {
    animation-duration: 11s;
}*/