$backgroundOdd: #3984cf;
$backgroundEven: #306daa;
$storeWall: #f6967e;
$storeSign: #ee1b2e;
$storeInterior: #d8cc44;
$black: #000;
$white: #fff;
$gray: #777;

body > div:nth-of-type(odd) {
    background-color: $backgroundOdd;
}
body > div:nth-of-type(even) {
    background-color: $backgroundEven;
}

.scene__container--2 {
    .store__wall--top, .store__wall--left, .store__wall--right {
        background-color: $storeWall;
    }
    .store__sign {
        background-color: $storeSign;
    }
    .store__entrance {
        background-color: $storeInterior;
    }
    #billy__hair {
        stroke: $black;
    }
    .st0, .st1 {
        fill: $white;
        stroke: $black;
    }
    .st0 {
        fill: $gray
    }
}
